<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo de E-mail</title>
</head>
<body>
    <h1>Olá {{ username }}!</h1>
    <p>Este é um exemplo de e-mail usando variáveis do contexto.</p>
    <p>Aqui está um exemplo de como você pode usar as variáveis:</p>
    <ul>
        {% comment %} <li>Variable 1: {{ variable1 }}</li>
        <li>Variable 2: {{ variable2 }}</li> {% endcomment %}
        <!-- Adicione mais variáveis conforme necessário -->
    </ul>
</body>
</html>
